
__pycache__/
*.py[cod]
*$py.class


.env
.env.local
.env.development
.env.test
.env.production


.venv/
bin/
lib/
include/
share/



local_settings.py
staticfiles/
media/


.vscode/
.idea/
*.swp
*.swo


*.log

CineReserve.postman_collection.json
CineReserve.postman_environment.json

.gitignore 