# Django
SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DEBUG=False
ALLOWED_HOSTS=seu-backend.onrender.com

# PostgreSQL
NAME=cinereserve
USER=postgres
PASSWORD=sua-senha
HOST=seu-host-do-banco
PORT=5432

# CORS/CSRF
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://seu-frontend.vercel.app
CSRF_TRUSTED_ORIGINS=https://seu-backend.onrender.com

# Segurança (produção)
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
